#root {
  width: 90%;
  margin-inline: auto;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

.hophub {
  display: grid;
  gap: 1em;

  div {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: .5em;
    
    .removeBtn {
      background-color: #ff6961;
      color: #fff;
    }
  }
}
